<div class="container-fluid" style="background-color: #4361d9; padding: 40px">
  <div class="container">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column align-items-center col-md-6">
          <h3 style="
            color: white;
            font-size: 50px;
            font-weight: 500;
            margin-bottom: 18px;
            display: block;
            font-family: Times New Roman, Times, serif;">
            <b>HOME_LOAN</b>
          </h3>
          <a style="color:white; font-size: 20px;"><b><em>We are listening to your needs</em></b></a>
          <div style="padding-top: 2rem;">

            <em class="fa fa-facebook-square fa-3x fa-fw"></em>
            <em class="fa fa-linkedin-square fa-3x fa-fw"></em>
            <em class="fa fa-volume-control-phone fa-3x fa-fw"></em>
            <em class="fa fa-twitter-square fa-3x fa-fw"></em>
          </div>
        </div>



        <div class="d-flex flex-column align-items-center col-md-6">
          <h3 style="
            color: white;
            font-size: 50px;
            font-weight: 500;
            margin-bottom: 18px;
            display: block;
            font-family: Times New Roman, Times, serif;
          ">
            <b>Contact Us</b>

          </h3>
          <a style="color:white; font-size: 20px;">info@homeloan.com</a>
          <a style="color:white; font-size: 20px;">+91 9997777444</a>
          <a style="color:white; font-size: 20px;">helpcare.homeloan@gmail.com</a>
          <a style="color:white; font-size: 20px;">linkedin.com/in/homeloan-32865730</a>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <img src="https://www.axisbank.com/images/default-source/revamp_new/contact-us/contactus.jpg" width="100%" height="100%" alt="Contact-Us">
</div>