<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="../assets/images/about.png" alt="error" />
        </div>
        <div class="col-sm">
            <div class="text-warning display-1">
                About Us
            </div>
            <div class="text-dark h1 display-1">
                HOME LOAN <br />
                APPLICATION
            </div>
        </div>
        <div class="row">
            <p class="text-dark h4 text-justify">
                Buying your own house is a dream come true for everyone. The Indian government has always shown a great
                inclination to encourage citizens to invest in a house.<br>
                Buying a home is a big step. It is a source of anxiety, frustration -- and a huge sense of
                accomplishment. With the zooming property rates, it is difficult a buy a home through our savings
                entirely. Almost all of us have a to avail a home loan.<br>
                Customer should be able to, apply for home loan hassle-free, keep a track of their status and can view
                available services, policies, benefits and other information related to a specific loan without visiting
                any bank branch.
            </p>
        </div><br>
    </div><br>
</div>